@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Root */

:root {
    ---green: #00bfa6;
    ---gray: #555555;
    ---white: #ffffff;
    ---light: #f7f7f7;
    ---yellow: #ffba00;
    ---dark: #111e1e;
}

/* Root */

/* Body */

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
}

section {
    padding: 20px 150px;
}

/*header*/

.header {
    background-color: var(---dark);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .navbar .link a {
    font-size: 16px;
    color: var(---white);
    padding: 20px 30px;
    border-radius: 100px;
}

.header .container .navbar .link a:hover {
    background-color: var(---green);
}

.header .container .icon {
    display: flex;
    align-items: center;
}

.header .container .icon i {
    width: 50px;
    height: 50px;
    border: 2px solid var(---white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(---white);
    border-radius: 100px;
    margin: 0px 5px;
    cursor: pointer;
}

.header .container .icon i:hover {
    border: 2px solid var(---green);
    color: var(---green);
}

.header .container .icon #menu {
    display: none;
}

/*header*/

/*search*/

.search {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 9%;
    display: none;
    z-index: 7;
}

.search .container {
    backdrop-filter: blur(60px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.322);
    text-align: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #ffffff5b;
}

.search .container h1 {
    font-size: 60px;
    color: var(---white);
    font-weight: 600;
}

.search .container .input {
    width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
    margin-top: 30px;
}

.search .container .input input {
    width: 100%;
    height: 100px;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    color: var(---black);
    padding-left: 20px;
}

.search .container .input input::placeholder {
    font-size: 20px;
    color: var(---black);
}

.search .container .input i {
    width: 100px;
    height: 100px;
    font-size: 20px;
    background-color: var(---green);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(---white);
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

/*search*/

/*hero*/

.hero {
    background-color: var(---dark);
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .container .heroslider {
    background-color: transparent;
    margin-right: 0px;
    width: 800px;
}

.hero .container .heroslider .box {
    width: 100%;
}

.hero .container .heroslider .box .image {
    width: 100%;
}

.hero .container .heroslider .box .image img {
    width: 100%;
}

.hero .container .text h1 {
    font-size: 50px;
    color: var(---white);
    font-weight: 500;
    line-height: 80px;
}

.hero .container .text span {
    color: var(---green);
    font-weight: 700;
    font-size: 70px;
}

.hero .container .text p {
    font-size: 18px;
    color: var(---white);
    line-height: 30px;
    font-weight: 400;
    margin-top: 15px;
}

.hero .container .text button {
    width: 180px;
    height: 60px;
    background-color: var(---green);
    border-radius: 100px;
    color: var(---white);
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}

.hero .container .text button:hover {
    box-shadow: 0px 0px 50px #00bfa673;
}

/*hero*/

/*categories*/

.cat {
    margin-top: 150px;
}

.cat .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.cat .heading {
    display: flex;
    align-items: center;
}

.cat .heading .line {
    width: 300px;
    height: 5px;
    background-color: var(---green);
}

.cat .heading h1 {
    font-size: 60px;
    font-weight: 700;
    color: var(---black);
    margin-left: 30px;
}

.cat .container .left {
    display: flex;
    align-items: center;
}

.cat .container .left .box .data img {
    width: 100%;
}

.cat .container .left .box {
    width: 350px;
    height: 628px;
    background-color: var(---light);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat .container .left #box1 {
    margin-left: 40px;
}

.cat .container .left .box .data h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.cat .container .left .box .data a {
    color: var(---black);
}

.cat .container .right {
    background-color: transparent;
}

.cat .container .right .box {
    width: 320px;
    height: 314px;
    background-color: var(---light);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cat .container .right #left {
    margin-right: 30px;
}

.cat .container .right .box .data img {
    width: 100%;
}

.cat .container .right .box .data h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
}

.cat .container .right .box .data a {
    color: var(---black);
}

.cat .container .right .top-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.cat .container .right .bottom-box {
    background-color: var(---light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}

.cat .container .right .bottom-box h1 {
    font-size: 30px;
    margin-left: 50px;
}

.cat .container .right .bottom-box a {
    color: var(---black);
}

/*categories*/

/*offer*/

.offer {
    margin-top: 150px;
}

.offer .container {
    background-image: url(img/dis.jpg);
    height: 690px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    border: 5px solid var(---white);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.26);
}

.offer .container .text {
    width: 600px;
    height: 590px;
    border-radius: 30px;
    border: 2px solid #ffffff85;
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
    margin-right: 50px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.37);
}

.offer .container .text .data {
    margin-left: 50px;
}

.offer .container .text h2 {
    font-size: 30px;
    color: var(---green);
    font-weight: 700;
}

.offer .container .text h1 {
    font-size: 50px;
    color: var(---white);
    font-weight: 500;
    line-height: 80px;
}

.offer .container .text span {
    color: var(---green);
    font-size: 80px;
    font-weight: 700;
}

.offer .container .text button {
    width: 180px;
    height: 70px;
    border: 2px solid var(---white);
    font-size: 18px;
    border-radius: 100px;
    color: var(---white);
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
}

.offer .container .text button:hover {
    border: 2px solid var(---green);
    color: var(---green);
}

/*offer*/

/*product*/

.pro {
    margin-top: 150px;
}

.pro .heading {
    display: flex;
    align-items: center;
}

.pro .heading .line {
    width: 300px;
    height: 5px;
    background-color: var(---green);
}

.pro .heading h1 {
    font-size: 60px;
    font-weight: 700;
    color: var(---black);
    margin-left: 30px;
}

.pro .proslider {
    background-color: transparent;
    margin-top: 100px;
}

.pro .proslider .box {
    width: 380px;
    height: 100%;
    border-radius: 20px;
}

.pro .proslider .box img {
    background-color: var(---light);
    border-radius: 20px;
    width: 100%;
}

.pro .proslider .box .text {
    background-color: transparent;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.pro .proslider .box .text h1 {
    font-size: 30px;
    color: var(---black);
    font-weight: 600;
}

.pro .proslider .box .text h2 {
    font-size: 30px;
    color: var(---green);
    font-weight: 600;
}

.pro .proslider .box .text .star {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.pro .proslider .box .text .star i {
    font-size: 20px;
    color: var(---yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro .proslider .box .text .star p {
    font-size: 20px;
    color: var(---black);
    font-weight: 600;
}

/*product*/

/*about*/

.abo {
    background-color: transparent;
    margin-top: 150px;
}

.abo .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(---light);
    border-radius: 30px;
}

.abo .container .text {
    margin-left: 50px;
}

.abo .container .text h1 {
    font-size: 60px;
    color: var(---black);
    font-weight: 500;
    line-height: 100px;
}

.abo .container .text span {
    font-size: 80px;
    color: var(---green);
    font-weight: 700;
}

.abo .container .text p {
    font-size: 20px;
    line-height: 40px;
    color: var(---gray);
    margin-top: 15px;
}

.abo .container .text button {
    width: 180px;
    height: 60px;
    background-color: var(---green);
    border-radius: 100px;
    color: var(---white);
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}

.abo .container .text button:hover {
    box-shadow: 0px 0px 50px #00bfa673;
}

/*about*/

/*tes*/

.tes {
    background-color: transparent;
    margin-top: 150px;
}

.tes .heading {
    display: flex;
    align-items: center;
}

.tes .heading .line {
    width: 300px;
    height: 5px;
    background-color: var(---green);
}

.tes .heading h1 {
    font-size: 60px;
    font-weight: 700;
    color: var(---black);
    margin-left: 30px;
}

.tes .tesslider {
    margin-top: 100px;
}

.tes .tesslider .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tes .tesslider .box img {
    border-radius: 40px;
}

.tes .tesslider .box .text h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(---dark);
}

.tes .tesslider .box .text .star {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.tes .tesslider .box .text .star i {
    font-size: 30px;
    color: var(---yellow);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tes .tesslider .box .text p {
    font-size: 18px;
    color: var(---gray);
    font-weight: 500;
    line-height: 40px;
    margin-top: 20px;
}

/*tes*/

/*con*/

.con {
    margin-top: 150px;
}

.con .heading {
    display: flex;
    align-items: center;
}

.con .heading .line {
    width: 300px;
    height: 5px;
    background-color: var(---green);
}

.con .heading h1 {
    font-size: 60px;
    font-weight: 700;
    color: var(---black);
    margin-left: 30px;
}

.con .container {
    margin-top: 100px;
}

.con .input {
    width: 1200px;
    height: 130px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.con .input input {
    width: 100%;
    height: 100%;
    border-radius: 100px 0px 0px 100px;
    background-color: var(---light);
    font-size: 20px;
    padding-left: 30px;
}

.con .input input::placeholder {
    font-size: 20px;
    color: var(---dark);
}

.con .input button {
    width: 300px;
    height: 130px;
    background-color: var(---green);
    color: var(---white);
    font-size: 25px;
    border-radius: 0px 100px 100px 0px;
    cursor: pointer;
    font-weight: 600;
}

/*con*/

/*footer*/

.fot {
    border-top: 2px solid #5555556e;
    margin-top: 150px;
}

.fot .container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.fot .container .logo {
    text-align: center;
}

.fot .container .logo .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.fot .container .logo .icon i {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid var(---gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0px 5px;
    cursor: pointer;
}

.fot .container .logo .icon i:hover {
    border: 2px solid var(---green);
    color: var(---green);
}

.fot .container .link h1 {
    font-size: 30px;
    color: var(---dark);
    font-weight: 700;
}

.fot .container .link a {
    display: block;
    color: var(---gray);
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
}

.fot .container .link a:hover {
    color: var(---green);
}

.fot .last {
    border-top: 2px solid #5555556e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.fot .last p {
    font-size: 20px;
    color: var(---dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

/*footer*/

/* media quries */

@media (max-width:1772px) {
    section {
        padding: 20px 120px;
    }
}

@media (max-width:1674px) {
    section {
        padding: 20px 100px;
    }
    .hero .container .heroslider {
        width: 700px;
    }
    .cat .container .left #box1 {
        margin-left: 20px;
    }
    .tes .tesslider .box .text p {
        font-size: 16px;
    }
}

@media (max-width:1590px) {
    section {
        padding: 20px 75px;
    }
    .cat .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .cat .container .right {
        margin-top: 30px;
    }
    .cat .container .left #box1 {
        margin-left: 40px;
    }
    .abo .container .text h1 {
        font-size: 50px;
        color: var(---black);
        font-weight: 500;
        line-height: 80px;
    }
    .abo .container .text span {
        font-size: 60px;
        color: var(---green);
        font-weight: 700;
    }
    .abo .container .text p {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media (max-width:1486px) {
    .tes .tesslider .box .text p {
        font-size: 14px;
    }
}

@media (max-width:1390px) {
    section {
        padding: 20px 50px;
    }
    .hero .container .heroslider {
        width: 650px;
    }
    .abo .container img {
        width: 600px;
    }
}

@media (max-width:1280px) {
    section {
        padding: 20px 25px;
    }
    .hero .container {
        display: block;
    }
    .hero .container .heroslider {
        margin: 0px auto;
    }
    .hero .container .heroslider {
        width: 800px;
    }
    .hero .container .text {
        text-align: center;
    }
    .hero .container .heroslider {
        margin-top: 50px;
    }
    .header .container .navbar {
        background-color: transparent;
        width: 100%;
        position: absolute;
        right: 0;
        top: 9%;
        margin: 0px auto;
        display: none;
        padding: 20px 0px;
    }
    .header .container .navbar .link {
        backdrop-filter: blur(50px);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
        border-radius: 20px;
        width: 97%;
        margin: 0px auto;
        border: 2px solid #ffffff36;
    }
    .header .container .navbar .link a {
        font-size: 20px;
        color: var(---white);
        font-weight: 400;
        padding: 20px 20px;
        text-align: center;
        border-radius: 20px;
        display: block;
    }
    .header .container .icon #menu {
        display: inherit;
    }
    .cat {
        margin-top: 100px;
    }
    .cat .container {
        margin-top: 50px;
    }
    .pro {
        margin-top: 100px;
    }
    .abo {
        margin-top: 100px;
    }
    .abo .container {
        display: block;
    }
    .abo .container img {
        width: 100%;
        height: 100%;
    }
    .abo .container .text {
        text-align: center;
        margin-left: 0px;
        padding-top: 30px;
    }
    .abo .container .text p {
        font-size: 14px;
    }
    .tes .tesslider .box {
        display: block;
    }
    .tes .tesslider .box .text {
        text-align: center;
        margin-top: 30px;
    }
    .tes .tesslider .box .star {
        justify-content: center;
    }
    .tes .tesslider .box .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tes .tesslider .box .text p {
        margin-top: 15px;
    }
    .tes {
        margin-top: 100px;
    }
    .tes .tesslider {
        margin-top: 50px;
    }
    .con .input {
        width: 100%;
    }
    .con .heading h1 {
        font-size: 50px;
    }
    .con {
        margin-top: 100px;
    }
    .con .container {
        margin-top: 50px;
    }
}

@media (max-width:1080px) {
    section {
        padding: 20px 20px;
    }
    .search .container .input {
        width: 800px;
        height: 100px;
        margin: 0px auto;
        margin-top: 30px;
    }
    .offer .container {
        justify-content: center;
    }
    .offer .container .text {
        margin-right: 0px;
    }
    .fot .container {
        display: block;
        text-align: center;
    }
}

@media (max-width:850px) {
    .hero .container .heroslider {
        width: 100%;
        height: 100%;
    }
    .search .container .input {
        width: 700px;
        height: 100px;
        margin: 0px auto;
        margin-top: 30px;
    }
    .tes .tesslider .box .text p {
        font-size: 12px;
    }
}

@media (max-width:780px) {
    section {
        padding: 20px 15px;
    }
    .search .container h1 {
        font-size: 50px;
        color: var(---white);
        font-weight: 600;
    }
    .search .container {
        height: 300px;
    }
    .search {
        top: 9%;
    }
    .search .container .input {
        width: 600px;
        height: 100px;
        margin: 0px auto;
        margin-top: 30px;
    }
    .cat .container .left .box {
        width: 300px;
    }
    .cat .container .right .box {
        width: 280px;
    }
    .cat .heading {
        display: block;
        text-align: center;
    }
    .cat .heading .line {
        margin: 0px auto;
    }
    .cat .heading h1 {
        margin-left: 0px;
    }
    .pro .heading {
        display: block;
        text-align: center;
    }
    .pro .heading .line {
        margin: 0px auto;
    }
    .pro .heading h1 {
        margin-left: 0px;
    }
    .tes .tesslider .box .text p {
        font-size: 10px;
        line-height: 30px;
    }
    .con .heading {
        display: block;
        text-align: center;
    }
    .con .heading .line {
        margin: 0px auto;
    }
    .con .heading h1 {
        margin-left: 0px;
    }
    .tes .heading {
        display: block;
        text-align: center;
    }
    .tes .heading .line {
        margin: 0px auto;
    }
    .tes .heading h1 {
        margin-left: 0px;
    }
}

@media (max-width:690px) {
    section {
        padding: 20px 10px;
    }
    .search .container h1 {
        font-size: 40px;
        color: var(---white);
        font-weight: 600;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 50px;
    }
    .search .container .input {
        width: 500px;
        height: 100px;
        margin: 0px auto;
        margin-top: 0px;
        font-size: 16px;
    }
    .search .container .input input {
        font-size: 16px;
    }
    .search .container .input input::placeholder {
        font-size: 16px;
    }
    .cat .container .left .box {
        width: 250px;
    }
    .cat .container .left .box h1 {
        margin-top: 30px;
    }
    .offer .container .text {
        width: 90%;
        text-align: center;
        justify-content: center;
    }
    .offer .container .text h1 {
        font-size: 40px;
        color: var(---white);
        font-weight: 500;
        line-height: 80px;
    }
    .offer .container .text .data {
        margin-left: 0px;
    }
}

@media (max-width:550px) {
    .hero .container .text h1 {
        font-size: 40px;
        line-height: 70px;
    }
    .hero .container .text span {
        font-size: 60px;
    }
    .search .container .input {
        width: 90%;
        height: 100px;
        margin: 0px auto;
        margin-top: 20px;
    }
    .search {
        top: 8%;
    }
    .header .container .navbar {
        top: 8%;
    }
    .cat .container .left .box {
        width: 100%;
        height: 460px;
        margin: 20px 0px;
    }
    .cat .container .right .box {
        width: 100%;
        margin: 20px 0px;
    }
    .cat .container .right .bottom-box {
        display: block;
        text-align: center;
        padding: 20px 0px;
    }
    .cat .container .right .bottom-box h1 {
        margin-left: 0px;
    }
    .cat {
        margin-top: 50px;
    }
    .cat .container {
        margin-top: 30px;
    }
    .pro .proslider {
        background-color: transparent;
        margin-top: 50px;
    }
    .pro {
        margin-top: 50px;
    }
    .abo {
        margin-top: 50px;
    }
    .tes {
        margin-top: 50px;
    }
    .con {
        margin-top: 50px;
    }
    .con .container {
        margin-top: 30px;
    }
    .fot .container .link {
        margin: 20px 0px;
    }
    .fot .last p {
        font-size: 16px;
    }
}

@media (max-width:500px) {
    .hero .container .text h1 {
        font-size: 30px;
        line-height: 60px;
    }
    .hero .container .text span {
        font-size: 50px;
    }
    .hero .container .text p {
        font-size: 16px;
        color: var(---white);
        line-height: 30px;
        font-weight: 400;
        margin-top: 10px;
    }
    .header .container .logo {
        width: 150px;
    }
    .header .container .logo img {
        width: 100%;
    }
    .hero .container .text button {
        width: 150px;
        height: 60px;
        background-color: var(---green);
        border-radius: 100px;
        color: var(---white);
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
    }
    .cat .container .right .top-box {
        display: block;
    }
    .cat .container .right #left {
        margin-right: 0px;
    }
    .cat .container .left {
        display: block;
        justify-content: center;
    }
    .cat .container .left #box1 {
        margin-left: 0px;
    }
    .offer .container .text h2 {
        font-size: 20px;
        color: var(---green);
        font-weight: 700;
    }
    .offer .container .text span {
        color: var(---green);
        font-size: 60px;
        font-weight: 700;
    }
    .offer .container .text h1 {
        line-height: 60px;
    }
    .abo .container .text p {
        font-size: 12px;
        line-height: 30px;
        margin-top: 0px;
    }
    .abo .container .text h1 {
        font-size: 40px;
        line-height: 60px;
    }
    .abo .container .text span {
        font-size: 40px;
    }
    .abo .container .text button {
        margin-top: 15px;
        width: 150px;
        font-size: 16px;
    }
    .tes .tesslider .box .image {
        width: 100%;
    }
    .tes .tesslider .box .image img {
        width: 100%;
    }
    .tes .heading h1 {
        margin-left: 0px;
        font-size: 40px;
    }
    .con .heading h1 {
        margin-left: 0px;
        font-size: 40px;
    }
    .cat .heading h1 {
        font-size: 40px;
    }
    .pro .heading h1 {
        font-size: 40px;
    }
    .con .input {
        height: 80px;
    }
    .con .input input {
        font-size: 16px;
        padding-left: 30px;
    }
    .con .input input::placeholder {
        font-size: 16px;
        color: var(---dark);
    }
    .con .input button {
        width: 200px;
        height: 80px;
        font-size: 16px;
    }
    .fot .last p {
        font-size: 12px;
    }
}

@media (max-width:400px) {
    .hero .container .text p {
        font-size: 14px;
        color: var(---white);
        line-height: 30px;
    }
    .hero .container .text h1 {
        font-size: 30px;
        line-height: 50px;
    }
    .hero .container .text span {
        font-size: 40px;
    }
    .header .container .icon i {
        width: 40px;
        height: 40px;
        font-size: 12px;
        margin: 0px 2px;
    }
    .abo .container .text p {
        font-size: 10px;
        padding: 0px 10px;
    }
    .tes .tesslider .box .text h1 {
        font-size: 30px;
        font-weight: 700;
        color: var(---dark);
    }
}

@media (max-width:350px) {
    .hero .container .text p {
        font-size: 12px;
        color: var(---white);
        line-height: 30px;
    }
    .pro .proslider .box .text h1 {
        font-size: 25px;
        color: var(---black);
        font-weight: 600;
    }
}

/* media quries */